.contacto{
    width: 100%;
    padding: 100px;
}

.contacto_titulo{
    font-family: "Poppins Light";
    font-size: 35px;
    letter-spacing: 1.7px;
    color: #222222;
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.contacto_subtitulo{
    display: block;
    font-family: "Poppins Light";
    font-size: 16px;
    letter-spacing: 0.8px;
    color: #333333;
    text-align: center;
    margin-bottom: 50px;
}

.contacto hr{
    width: 50px;
    border: 2px solid #222222;
    margin: 0 auto 30px auto;
}

/*///////////////////////////////////////////////////////////////////*/

.contacto_container{
    width: 95%;
    margin: 0 auto;
    background-color: var(--color-verde);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}

.contacto_item{
    width: 30%;
    padding: 20px;
}

.contacto_item img{
    display: block;
    width: 65px;
    height: 65px;
    margin: 0 auto;
}

.contacto_item_nombre{
    display: block;
    font-family: "Poppins Light";
    font-size: 16px;
    letter-spacing: 0.8px;
    color: #ffffff;
    text-align: center;
    margin: 15px 0;
}

.contacto_item_info{
    display: block;
    font-family: "Poppins SemiBold";
    font-size: 14px;
    letter-spacing: 0.8px;
    color: #ffffff; 
    text-align: center;
}

.contacto_item_2{
    width: 40%;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}
.contacto_item_2 .contacto_item_info{
    font-size: 14px;
    letter-spacing: 0.7px;
}

.contacto_item_1{
    width: 26%;
    padding: 10px;
    margin-right: 20px;
}

.contacto_item_3{
    width: 26%;
    padding: 10px;
    margin-left: 20px;
}

/*///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////// RESPONSIVE /////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////*/

@media (max-width: 700px) {

    .contacto{
        width: 100%;
        padding: 60px 25px;
    }

    .contacto_titulo{
        font-size: 25px;
        letter-spacing: 1.2px;
    }

    .contacto_subtitulo{
        font-size: 13px;
        letter-spacing: 0.6px;
        margin-bottom: 50px;
    }

    .contacto hr{
        width: 40px;
        margin: 0 auto 15px auto;
    }

    /*///////////////////////////////////////////////////////////////////*/

    .contacto_container{
        padding: 30px 5px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .contacto_item{
        width: 70%;
        border: none;
        margin: 0 0 40px 0;
        padding: 0;
    }

    .contenido_item_1, .contenido_item_2{
        border-bottom: 1px solid;
    }

    .contacto_item img{
        display: block;
        width: 50px;
        height: auto;
    }

    .contacto_item_nombre{
        font-size: 14px;
        letter-spacing: 0.7px;
    }

    .contacto_item_info{
        font-family: "Poppins Medium";
        font-size: 12px;
        letter-spacing: 0.6px;
    }

    .contacto_item_2 .contacto_item_info{
        font-size: 9px;
        letter-spacing: 0.6px;
    }



}