header{
    width: 100%;
    padding: 25px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo_container{
    width: 7%;
}

/*-------------------------------------------*/

.header_nav{
    width: 60%;
    margin-right: 8%;
}

.header_nav_lista{
    display: flex;
    justify-content: space-between;
}

.header_nav_lista li a{
    font-family: "Poppins";
    font-size: 12px;
    letter-spacing: 1px;
    color: #222;
    padding: 10px 12px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease;
}

.header_nav_lista li a:hover{
    color: var(--color-rosa);
    border-bottom: 1px solid var(--color-rosa);
}