/*-------------------- ESTILOS GENERALES --------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol{
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

/*--------------------- VARIABLES --------------------*/

:root{
    --color-rosa: #FF3399;
    --color-verde: #51AD65;
}

/*-------------------- FUENTES --------------------*/

@font-face {
    font-family: "Poppins Thin";
    src: url("../fonts/Poppins-Thin.ttf");
}
@font-face {
    font-family: "Poppins ExtraLight";
    src: url("../fonts/Poppins-ExtraLight.ttf");
}
@font-face {
    font-family: "Poppins Light";
    src: url("../fonts/Poppins-Light.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins Medium";
    src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: "Poppins SemiBold";
    src: url("../fonts/Poppins-SemiBold.ttf");
}
@font-face {
    font-family: "Poppins Bold";
    src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
    font-family: "Poppins ExtraBold";
    src: url("../fonts/Poppins-ExtraBold.ttf");
}
@font-face {
    font-family: "Poppins Black";
    src: url("../fonts/Poppins-Black.ttf");
}


/*///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////// RESPONSIVE /////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////*/

@media (max-width: 700px) {
    body{
        width: 100%;
        overflow-x: hidden;
    }

    main{
        max-width: 100vw;
        overflow-x: hidden;
    }

}

