.mensaje{
    width: 100%;
    padding: 50px 150px;
    background-color: var(--color-verde);
    color: #ffffff;
}

.mensaje h3{
    font-family: "Poppins";
    font-size: 25px;
    letter-spacing: 1.2px;
    line-height: 1.6;
    width: 50%;
    margin: 0 auto;
    text-align: center;   
    margin-bottom: 5px;
}

.mensaje hr{
    width: 70px;
    border: 1px solid #ffffff;
    margin: 0 auto 30px auto;
}

.mensaje_text_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mensaje_text_container p{
    width: 47%;
    font-family: "Poppins Light";
    font-size: 15px;
    letter-spacing: 0.8px;
    line-height: 1.8;
    text-align: justify;
}

.mensaje_junto_responsive{
    display: none;
}

/*///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////// RESPONSIVE /////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////*/

@media (max-width: 700px) {

    .mensaje{
        width: 100%;
        padding: 50px 25px;
    }

    .mensaje h3{
        font-size: 18px;
        letter-spacing: 1px;
        width: 95%;
    }

    .mensaje hr{
        width: 50px;
        margin: 0 auto 25px auto;
    }

    .mensaje_text_container{
        width: 100%;
        flex-wrap: wrap;
    }

    .mensaje_text_container p{
        width: 90%;
        margin:  0 auto;
        font-size: 12px;
        letter-spacing: 0.6px;
    }

    .mensaje_separado{
        display: none;
    }

    .mensaje_junto_responsive{
        display: block;
    }



}