.testimonios{
    width: 100%;
    padding: 100px 80px;
}

.testimonios_titulo{
    font-family: "Poppins Light";
    font-size: 35px;
    color: #222222;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    text-align: center;
}

.testimonios hr{
    width: 80px;
    border: 2px solid #333333;
    margin: 0 auto 20px auto;
}

.testimonios_subtitulo{
    display: block;
    font-family: "Poppins Light";
    font-size: 18px;
    letter-spacing: 0.9px;
    color: #333333;
    margin-bottom: 50px;
    text-align: center;
}

/*//////////////////////////////////////////////////////////*/

.testimonios_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.testimonio_item{
    width: 30%;
    padding: 30px;
    box-shadow: 4px 5px 10px rgba(0,0,0,0.25);
}

/*---------------------*/

.testimonio_item_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 0 auto 20px auto;
    text-align: center;
    font-family: "Poppins Bold";
    font-size: 40px;
    color: #fff;
    border-radius: 50%;
    background-color: var(--color-verde);
}

.testimonio_item_2 .testimonio_item_logo{
    background-color: var(--color-rosa);
}

/*---------------------*/

.testimonio_item_usuario{
    display: block;
    font-family: "Poppins";
    font-size: 17px;
    letter-spacing: 0.85px;
    text-align: center;
    margin-bottom: 20px;
} 

.testimonio_item_2 .testimonio_item_usuario{
    font-size: 13px;
}

/*---------------------*/

.contenedor_img_testimonio{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 50%;
    background-color: var(--color-verde);
    margin-bottom: 20px;
}

.contenedor_img_testimonio img{
    width: 25px;
}

.testimonio_item_2 .contenedor_img_testimonio{
    background-color: var(--color-rosa);
}

/*---------------------*/

.testimonio_item_parrafo{
    font-family: "Poppins Light";
    font-size: 11px;
    letter-spacing: 0.5px;
    color: #444444;
    line-height: 1.6;
    text-align: justify;
}